root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{cs,vb}]
dotnet_diagnostic.IDE0005.severity = suggestion
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_new_line_before_open_brace = all
dotnet_analyzer_diagnostic.category-Style.severity = suggestion
dotnet_analyzer_diagnostic.category-Security.severity = warning
dotnet_analyzer_diagnostic.category-Design.severity = warning
dotnet_analyzer_diagnostic.category-Performance.severity = warning
csharp_prefer_braces = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
dotnet_diagnostic.CA1062.severity = warning
dotnet_diagnostic.CA1305.severity = warning
dotnet_diagnostic.CA2000.severity = warning
